.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.vertical > * {
    margin-left: 0 !important;
}

label.radio:not(:last-child) {
    padding: 0 0 10px;
}

label.radio input {
    margin-right: 6px;
}