.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.vertical > * {
    margin-left: 0 !important;
}

label.radio {
    padding: 0 10px 0 0;
}

.vertical label.radio:not(:last-child) {
    padding: 0 0 10px;
}

label.radio input {
    margin-right: 6px;
}

.container {
    max-width: 552px !important;
}